---
import Layout from "../layouts/Layout.astro";
import ModalImage from "../components/ModalImage.astro";
import ModalViewer from "../components/ModalViewer.astro";
import Section from "../components/Section.astro";
import PricingCard from "../components/PricingCard.astro";
import { Image } from "astro:assets";
import data from "../data.json";
import "../styles/index.css";
import "../styles/particles.scss";
import "@fontsource-variable/sora";
---

<Layout title="adamkhalz's Portfolio">
  <main>
    <Section id="me" isFirst>
      <div>
        <span id="me-skills" class="accented uppercase important-text bold"
          >{data.config.skillText}</span
        ><div>
          <Image
            src={data.config.avatarURL}
            id="avatar"
            alt="My avatar"
            width="300"
            height="300"
          />
        </div><p id="me-description">
          {data.config.aboutText}
        </p>
      </div>
    </Section>
    <Section id="creations" title="Creations">
      <div>
        <ul class="modal-images">
          {
            data.images
              .slice(0, data.config.maxImages)
              .map((image, id) => <ModalImage {...image} id={id} />)
          }
        </ul>
      </div>
      {
        data.config.maxImages < data.images.length && (
          <a
            role="button"
            class="uppercase"
            href={
              (import.meta.env.BASE_URL !== "/"
                ? import.meta.env.BASE_URL
                : "") + "/creations"
            }
          >
            View More
          </a>
        )
      }
    </Section>
    <Section id="pricing" title="Pricing"
      ><ul>
        {data.prices.map((plan) => <PricingCard {...plan} />)}
      </ul></Section
    >
    <Section id="contact-me" title="Contact Me" isLast>
      <p>{data.config.contactMessage}</p>
      <ul>
        {
          Object.keys(data.links).map((key) => {
            const [icon, url] = data.links[key];
            if (!url || !icon) return null;
            return (
              <li>
                <a href={url}>
                  <Image
                    src={
                      (import.meta.env.BASE_URL !== "/"
                        ? import.meta.env.BASE_URL
                        : "") + icon
                    }
                    alt={key}
                    width="64"
                    height="64"
                    aria-label={`Go to ${key}`}
                  />
                </a>
              </li>
            );
          })
        }
      </ul>
    </Section>
    <ModalViewer />
  </main>
</Layout>

<script src="../scripts/navigate.js"></script>
