---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "@fontsource-variable/sora";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content="Astro description" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#ffd900" />
    <meta name="author" content="Aryxst" />
    <meta
      name="keywords"
      content="adamkhalz, Builder, Map Designer, Roblox, Roblox Developer"
    />
    <meta name="robots" content="index, follow" />
    <meta
      name="description"
      content="lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, assumenda sequi enim distinctio aliquid inventore alias quasi iste."
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href={import.meta.env.BASE_URL + "/favicon.svg"}
    />
    <meta property="title" content={title} />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={title} />
    <meta property="og:url" content={Astro.url.toString()} />
    <meta
      property="og:description"
      content="lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, assumenda sequi enim distinctio aliquid inventore alias quasi iste."
    />
    <meta property="og:type" content="website" />
    <link rel="canonical" href={Astro.url.toString()} />
    <script
      is:inline
      src="//cdnjs.cloudflare.com/ajax/libs/scroll-lock/2.1.5/scroll-lock.min.js"
      integrity="sha512-K5uD7Rt6SaJxFj+R7cqW7WGJQxOHmeNxIH/wX1P2JBOUWqRtt9ivDEq44C+ZpZgUgOGH/YIOA2ICLwXjImxGPQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <div class="animation-wrapper">
      <div class="particle particle-1"></div>
    </div>

    <slot />
    <Footer />
  </body>
</html>
